<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><title>Postman Report</title></head>
<body>

  <table class="summary" width="100%">
    {{#with collection}}
    <thead>
      <tr class="title"><td class="th" colspan="3">
        <h1>{{todo-show-name-or-id}}</h1>
      </td></tr>
    </thead>
    {{/with}}

    <tbody>
      <tr class="heading">
        <td class="th tl" width="40%">&nbsp;</td>
        <td class="th" width="30%">Total</td>
        <td class="th" width="30%">Failed</td>
      </tr>
      {{#with run.stats}}
      <tr class="property"><td class="th">Iterations</td><td>{{iterations.total}}</td><td>{{iterations.failed}}</td></tr>
      <tr class="property"><td class="th">Requests</td><td>{{requests.total}}</td><td>{{requests.failed}}</td></tr>
      <tr class="property"><td class="th">Prerequest Scripts</td><td>{{prerequestScripts.total}}</td><td>{{prerequestScripts.failed}}</td></tr>
      <tr class="property"><td class="th">Test Scripts</td><td>{{testScripts.total}}</td><td>{{testScripts.failed}}</td></tr>
      <tr class="property"><td class="th">Assertions</td><td>{{assertions.total}}</td><td>{{assertions.failed}}</td></tr>
      {{/with}}
      <tr class="property"><td class="th">Total Failures</td><td colspan="2">{{run.failures.length}}</td></tr>
    </tbody>
  </table>




  {{#each run.executions}}
    <table class="executions execution-{{@index}}">
      <thead>
      <tr class="title"><td class="th" colspan="3">
        <h2>{{item.name}}</h2>
        {{#if item.description}}<p class="item description">{{item.description}}</p>{{/if}}
        <ul class="item meta">
            <li><span class="item id">{{item.id}}</span></li>
            <li><span class="item request url"><a href="{{request.url}}" target="_blank">{{request.method}} {{request.url}}</a></span></li>
        </ul>
      </td></tr>
    </thead>

    <tbody>
    <tr class="heading">
        <td class="th" width="20%"><h3>Response</h3></td>
        <td class="th" width="80%">&nbsp;</td>
    </tr>
    {{#with response}}
    <tr class="property"><td class="th">Code</td><td>{{code}}</td></tr>
    <tr class="property"><td class="th">Headers</td><td>{{headers.members}}</td></tr>
    <tr class="property"><td class="th">Body</td><td><span class="pre">{{body}}</span></td></tr>
    <tr class="property"><td class="th">Size</td><td>{{responseSize}} bytes</td></tr>
    <tr class="property"><td class="th">Time</td><td>{{responseTime}} ms</td></tr>
    {{/with}}
    <tbody>

    </table>
  {{/each}}

</body>
</html>
